:root {
  --primary: rgb(0, 0, 143);
  --light: rgb(245, 244, 244);
  --dark: rgb(22, 22, 22);
  --success: rgb(0,255,0);
  --error: rgb(255,0,0);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--light);
  font-size: 14px;
}

.navbar {
  background: var(--dark);
  color: var(--light);
  width: 100%;
  padding: 0 !important;
  display: flex;
  padding: 8px 50px !important;
}

.navbar .logo {
  font-size: 22px;
  cursor: pointer;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
  padding: 0 20px;
}

.navbar ul li:first-child {
  border-right: 1px solid var(--light);
}

.row {
  margin: 0 !important;
}

.login-form {
  padding-bottom: 30px;
}

.signup-form {
  padding-top: 15px;
}

.required {
  color: var(--error);
}
